@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  margin: 0px;
}

.header {
  margin-bottom: 14px;
  height:7vh;
  color: white;
  text-align: center;
  font-size:  4.5vmin;
  font-family: Moz;
  border:0px solid black;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin: 0px;
  height: 8vh;
  border-right: 100vw solid #FF9500;
}

.header div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#title-img {
  height: 100%;
}

.title {
  margin-top: 10px;
}

.title-details {
  margin-top: 10px;
  font-size: 3.5vmin;
}

/* include margin and padding in sizing calulations */
* {
  box-sizing: border-box;
}

#content {
  height: 67vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.nodecoration {
  text-decoration: none;
  color: black;
}

a:hover {
  color: highlight;
}

/* Settings pop-up */

.settingsPopup {
  color: black;
  position: relative;
  text-align: center;
  font-family: Moz;
  font-size: 1vmin;
  width: 10%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 2px solid #999999;
  z-index: 9;
}

.formContainer {
  padding: 20px;
  background-color: #fff;
}

.formContainer input[type=text] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #eee;
}

.formContainer input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
}

.formContainer .btn:hover,
.settings-button:hover {
  opacity: 1;
}

.settings-container {
  display: grid;
  gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
}

.settings-header {
  grid-column: 1 / span 2;
  margin-top: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.settings-col1 {
  grid-column: 1;
  justify-self: end;
  padding-right: 10px;
}

.settings-col2 {
  grid-column: 2;
  justify-self: start;
}

.settings-label {
  margin-top: 3px;
}

/* index pane css */

.table-container {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  float: left;
  width: 100%;
  display: grid;
  gap: 0px;
  border: 0px solid gray;
  font-size: 2vmin;
  font-family: Moz;
}

.report-title, .report-odr, .report-cdr, .report-onb, .report-cnb {
  border: 0px solid blue;
}

.report-title, .report-odr, .report-cdr, .report-onb, .report-cnb {
  min-height: 4vh;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 7px;
}

.report-title {
  grid-column: 1;
}

.report-odr {
  grid-column: 2;
  text-align: center;
}

.report-cdr {
  grid-column: 3;
  text-align: center;
}

.report-onb {
  grid-column: 4;
  text-align: center;
}

.report-cnb {
  grid-column: 5;
  text-align: center;
}

/* details pane css */

.details-container {
  padding-top: 5px;
  padding-left: 2vmin;
  padding-right: 2vmin;
  float: left;
  width: 100%;
  display: grid;
  gap: 0px;
  border: 0px solid gray;
  font-family: Moz;
}

.name-nidate-hdr, .name-bugid-hdr, .name-severity-hdr, .name-priority-hdr,
.name-checkbox, .name-nidate, .name-bugid, .name-assignee, .name-severity, .name-priority,
.name-nifrom, .name-nimsg, .name-bugtitle {
  text-align: left;
  border: 1px solid #eee;
  font-size: 1.3vmin;
  overflow: hidden;
  padding: 2px;
}

.name-checkbox {
  grid-column: 1;
}

.name-nidate-hdr {
  cursor: pointer;
  grid-column: 2;
}

.name-bugid-hdr {
  cursor: pointer;
  grid-column: 3;
}

.name-severity-hdr {
  cursor: pointer;
  grid-column: 6;
}

.name-priority-hdr {
  cursor: pointer;
  grid-column: 7;
}

.name-nidate {
  grid-column: 2;
  min-width: 8vmin;
}

.name-bugid {
  grid-column: 3;
  min-width: 8vmin;
}

.name-nifrom {
  grid-column: 4;
  min-width: 10vmin;
}

.name-assignee {
  grid-column: 5;
  min-width: 10vmin;
}

.name-severity {
  grid-column: 6;
  min-width: 5vmin;
}

.name-priority {
  grid-column: 7;
  min-width: 3vmin;
}

.name-bugtitle {
  grid-column: 8;
  min-width:28vmin;
}

.name-nimsg {
  grid-column: 9;
  width:auto;
  min-width: 28vmin;
}

.bug-link-container {
  display: inline-block;
  text-align: center;
  align-self: center;
  border: 0px solid blue;
  white-space: nowrap;
  width: 100px;
}

.bug-link {
}

.bug-icon {
  border: 0px solid red;
  max-height: 5px;
  height: 5px;
  margin-left: 10px;
}

.errors-container {
  padding-top: 5px;
  padding-left: 2vmin;
  padding-right: 2vmin;
  float: left;
  width: 100%;
  border: 0px solid gray;
  font-family: Moz;
  color: #cc0000;
  display: inline-block;
  font-size: 2.0vmin;
}

.footer {
  padding-top: 20px;
  padding-left: 2vmin;
  padding-right: 2vmin;
  float: right;
  width: 100%;
  border: 0px solid gray;
  font-family: Moz;
  color: #a0a0a0;
  display: inline-block;
  font-size: 1.0vmin;
}

.footer a {
  text-decoration: none;
  color: #808080;
}


/* Form controls on pages */
.command-button-container {
  padding-left: 2vmin;
  padding-right: 2vmin;
  width: 100%;
  border: 0px solid green;
}

.command-button:disabled {
  cursor: default;
}

.stats {
  padding-top: 3px;
  float: left;
  font-size: 1.75vmin;
  font-family: Moz;
}

#team-select, #team-option {
  padding: 5px;
  font-family: Moz;
}

.command-button {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
}

.command-button-hidden {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
  visibility: collapse;
}

.status-text {
  visibility: hidden;
  margin-top: 2px;
  padding: 3px 15px 3px 15px;
  border-radius: 2px;
  float: right;
  font-size: 1.75vmin;
  font-family: Moz;
  border: 1px solid #eeeeee;
  background-image: linear-gradient(to right, rgb(186 232 188), rgb(186 232 188));
  background-size: 50%;
  background-repeat: no-repeat;
  color: gray;
}

.settings-button {
  float:none;
}

.button-separator {
  display: inline-block;
  float: right;
  padding: 10px;
}

/* prompts for details */
#prompt-confirm {
  border: 2px solid gray;
}

.prompt-confirm-info-grid {
  display: grid;
  gap: 0px;
  border: 0px solid gray;
  font-family: Moz;
  align-items: center;
}

.prompt-text {
  font-size: 2vmin;
  align-self: center;
  justify-self: center;
}

.prompt-details {
  font-size: 2vmin;
  font-family: Moz;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}

.prompt-emphasis-text {
  font-size: 5vmin;
  align-self: center;
  justify-self: center;
  color: #cc0000;
}

.prompt-row1 {
  grid-row: 1;
}

.prompt-row2 {
  grid-row: 2;
}

.prompt-row3 {
  grid-row: 3;
}

.prompt-buttons-form {
  margin-top: 10px;
}

.prompt-buttons-form  #btn-confirm, #btn-cancel {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

#btn-cancel {
  background-color: #cc0000;
}

#prompt-comment-confirm-comment {
  width: 100%;
  padding: 15px;
  border: none;
  background: #eee;
  margin: 0px 0px 10px 0px;
}

#prompt-comment-confirm-comment:focus {
  background-color: #ddd;
  outline: none;
}

#prompt-redirect-confirm-comment {
  width: 100%;
  padding: 15px;
  border: none;
  background: #eee;
  margin: 0px 0px 10px 0px;
}

#prompt-redirect-confirm-comment:focus {
  background-color: #ddd;
  outline: none;
}
